.row {
  display: flex;
  max-width:600px;
  margin:auto;
}

.column {
  flex: 50%;
}

.column input {
	width:80%;
}

#mailList {
	margin:auto 0;
	height:15px;
}

#cart {
	padding-top:3em;
	padding-bottom:3em;
	width:70%;
	float:left;
}

#notCart {
	padding-top:3em;
	padding-bottom:3em;
	width:100%;
	float:left;
}

#cartList {
	list-style-type:none;
}

#bookInfo {
	list-style-type:none;
	padding:1.5em;
	margin-left:-1em;
}

#bookinfo li {
	margin-top:-0.5em;
}

#delButton {
	padding:2em;
	margin-bottom:5.5em;
}

#orderSum {
	float:left;
	width:30%;
	background-image: url("../img/blue-snow-darker.png");
	background-size: 150px 150px;
	background-repeat:repeat;
	margin-top:3em;
	min-height:40%
}

#orderSum h2 {
	text-align:center;
	border-bottom:1px solid black;
}

#orderSumList {
	list-style-type:none;
	margin-bottom:3em;
}

#orderSumList li {
	margin-bottom:0.7em;
}

#orderSumList button {
	margin:1em -2em 0 3em;
	padding:auto;
}

#orderSumList .cartIcon:before{
	content: '\1F6D2';
}

.floatContain {
	overflow: hidden;
    position: relative;
    width: 100%;
}

.error {
	color:red;
	font-size:75%;
}