{% extends "header.html" %}
{% block content %}
<div class="signup-form">
    <h2>Add New Payment Card</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        {{ form.card_type(class="form-control", placeholder="Card Type") }}<br>
        {{ form.card_num(class="form-control", placeholder="Card Number") }}<br>
        {{ form.card_name(class="form-control", placeholder="Name on Card") }}<br>
        {{ form.exp_date(class="form-control", placeholder="Expiration Date - (MM/YY)")}}<br>
        {{ form.sec_code(class="form-control", placeholder="Security Code") }}<br>

        {{ form.submit(class="blueButton", value="Add Card", size=100, width=50)}}
    </form>
</div>
{%endblock content %}