<head>
	<title>Sahara</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/CSS/main1.css">
	<link rel="stylesheet" href="../static/CSS/main2.css">
	<link rel="stylesheet" href="../static/CSS/admin.css">
	<link rel="stylesheet" href="../static/CSS/bookStyle.css">
	<link rel="stylesheet" href="../static/CSS/checkout.css">
	<link rel="stylesheet" href="../static/CSS/modify.css">
	<link rel="stylesheet" href="../static/CSS/signup.css">
	<link rel="stylesheet" href="../static/CSS/style.css">
</head>