{% extends "header.html" %}
{% block content %}
	<div class="signup-form">
		<h2>Log In</h2>
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			{{ form.email(class="form-control", placeholder="Email") }}<br>
			{{ form.password(class="form-control", placeholder="Password") }}<br>
			<label for="remember_me">Remember me</label>
            {{ form.remember_me(id="remember_me") }}<br>
			<br>
			<a href="/reset_password_request" class="here">Forgot your password?</a><br>
			{{ form.submit(class="blueButton", size=100)}}
		</form>
		<h4>Don't Have an Account?</h4>
		<a href="/register">
			<button type="submit" name="submit" class="blueButton">Register</button>
		</a>
	</div>
	
{%endblock content %}