{% extends "header.html" %}
{% block content %}
	
	<div id="confirmation">
		<div id="confirmationHeader">
			<h2>Thank you for your order!</h2>
			<h4>Order Number: {{order.id }}</h4>
			<h4>Confirmation Number {{current_user.id}}{{order.id}}</h4>
			<h5>A copy of your receipt has been sent to your email</h5>
		</div>
		<div id="confirmationSummary">
		<h4>Order Summary:</h4>
			<div id="cartTable">
				<table>
					{% for cart_item in order.cart.cart_items %}
					<tr>
						<td><a href="/book/{{ cart_item.book.id }}"><img src="{{ cart_item.book.cover_image.filename }}" width="120" height="200"></a></td>
						<td>
							<b><i>Title:</i></b> <br>{{ cart_item.book.title }}<br>
							<b><i>Author:</i></b> <br>{{ cart_item.book.authors[0] }}<br>
							<b><i>ISBN:</i></b> <br>{{ cart_item.book.isbn }}<br>
							<b><i>Quantity:</i></b> <br>{{ cart_item.quantity }}<br>
							<b><i>Price:</i></b> <br>{{ "$%.2f"|format(cart_item.book.price * cart_item.quantity)}}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div id="moneyConfirmation">
				<p>Sub-total: {{ "$%.2f"|format(order.cart.subtotal)}}</p>
				<p>Standard Delivery: $3.99</p>
				<p>Tax: {{ "$%.2f"|format((order.total - 3.99) * 0.07)}}</p>
				{% if promo %}
					<p>Discount: {{ "-$%.2f"|format(order.cart.subtotal * (promo.discount/100))}}</p>
				{% else %}
				<p>Discount: $0.00</p>
				{% endif %}
				<p>Total: {{ "$%.2f"|format(order.total)}}</p>
			</div>
			<h4>Delivery Details:</h4>
			<div class="row">
				<div class="column" id="delivConfirm">
					<p><b>Delivery For:</b></p>
					<p>{{current_user.first_name}}</p>
					<p>Phone: {{current_user.phone_number}}</p>
				</div>
				<div class="column" id="delivConfirm">
					<p><b>Address:</b></p>
					<p>{{order.shipping_address}}</p>
				</div>
				<div class="column" id="delivConfirm">
					<p><b>Delivery Method:</b></p>
					<p>Standard Delivery - </p>
					<p>3-4 Business Days</p>
				</div>
			</div>
		</div>
	</div>


	{%endblock content %}