{% extends "header.html" %}
{% block content %}
	<div class="signup-form">
		<h2>Reset Password</h2>
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			{% if current_user.is_authenticated %}
				{{ form.email(class="form-control", placeholder="Email", value=current_user.email) }}<br>
				{{ form.current_password(class="form-control", placeholder="Current Password") }}<br>
			{% else %}
				{{ form.email(class="form-control", placeholder="Email") }}<br>
			{% endif %}
			{{ form.submit(class="blueButton", size=100)}}
		</form>
	</div>
	
{%endblock content %}